@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    25% {
        background-position: 50% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    75% {
        background-position: 50% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

   :root {
       /* 主页名字渐变动画效果 */
       --vp-home-hero-name-color: transparent; 
       --vp-home-hero-name-background: linear-gradient(135deg, #0eaf6d, #ff6ac6 25%, #147b96 50%, #e6d205 55%, #2cc4e0 60%, #8b2ce0 80%, #ff6384 95%, #08dfb4);
        

     
}

/* 主页名字渐变动画效果 */
   .name .clip {
    background: var(--vp-home-hero-name-background);
    background-size: 200% 200%; 
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradient 3s ease infinite; 
    font-size: 2.5rem; 
    background-repeat: no-repeat; /* 添加这一行 */
    height: 100px; /* 确保元素有高度 */
    width: 100%; /* 确保元素有宽度 */
    }

/* 为图像添加样式 */
.VPImage.image-src {
    border-radius: 50%; /* 使图片变为圆形 */
    width: 150px; /* 确保与背景相符 */
    height: 150px; /* 确保与背景相符 */
    object-fit: cover; /* 保持比例并填充 */
    position: relative; /* 确保图像在背景层前面 */
    z-index: 1; /* 确保图像在背景层的上面 */
    padding: 1px;	/* 设置内边距 */
	background-color: #fff;	/* 设置背景颜色为白色 */
	/*margin-top: -50px;*/	 /*设置上外边距 */
	box-shadow: 0px 5px 30px 0px #6c44fc, 0px 0px 0px 6px rgba(107, 74, 255, 0.5);	/* 设置阴影效果调整6px可以改大小 */
}


/* 调整首页名字移动到最左边距,并缩小"终于等到你"字体大小 */
.container {
    padding: 0; /* 如果有全局内边距，可以去掉 */
}

.main {
    text-align: left; /* 将文本对齐到左边 */
}

.name {
    margin-left: 0; /* 确保h1没有左边距 */
}

.main .text { /* 增加选择器的特异性 */
    font-size: 1.5rem; /* 设置"终于等到你"字体大小 */
    margin-left: 0; /* 确保没有左边距 */
}

.tagline {
    margin-left: 0; /* 确保p元素没有左边距 */
}

   
    /* Color Theme */
    :root {
      --vp-c-brand: var(--vp-c-purple);
      --vp-c-brand-light: var(--vp-c-purple-light);
      --vp-c-brand-lighter: var(--vp-c-purple-lighter);
      --vp-c-brand-dark: var(--vp-c-purple-dark);
      --vp-c-brand-darker: var(--vp-c-purple-darker);
    }

    :root {
      /* brand按钮 */
      /* 正常 */
      --vp-button-brand-border: #43aefc; /* 边框色 */
      --vp-button-brand-bg: #43aefc; /* 背景色 */
    
      /* hover状态 */
      --vp-button-brand-hover-border: #75c4fe;
      --vp-button-brand-hover-bg: #75c4fe;
    
      /* active状态-点击 */
      --vp-button-brand-hover-border: #43aefc;
      --vp-button-brand-active-bg: #43aefc;
    }

    :root {
      /* 主题色 */
      --vp-c-indigo-1: #43aefc; /* 主题色 */
      --vp-c-indigo-2: #43aefc; /* 主题色-hover */
      --vp-c-indigo-3: #43aefc;
    }
