/* 变量定义 */
:root {
    --card-filter: 10px;
    /* 调整模糊程度 */
    --item-bg-color: rgba(255, 255, 255, 0.1);
    /* 半透明背景 */
    --footer-text-color: #ffffff;
    /* 文字金黄 */
    --footer-link-color: #ff0000;
    /* 红色链接 */
    --footer-link-hover-color: #ffffff;
    /* 链接悬停颜色 */
}

footer {
    left: 0;
    /* 从左侧开始 */
    right: 0;
    /* 延伸到右侧 */
    bottom: 0;
    /* 固定在底部 */
    max-height: 80px;
    /* 限制最大高度 */
    min-height: 50px;
    /* 限制最小高度 */
    padding: 7px 15px;
    /* 减少内边距 */
    text-align: center;
    /* 文字居中 */
    width: 100%;
    /* 宽度占满 */
    background-color: #000000;
    /* 黑色背景 */
    color: var(--footer-text-color);
    /* 白色文字 */
    border-top: 1px solid #00ff00;
    /* 顶部边框 */
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    /* 阴影效果 */
    transition: background 0.3s ease, box-shadow 0.3s ease;
    /* 过渡效果 */
    box-sizing: border-box;
    /* 确保内边距不影响宽度 */
    display: flex;
    /* 使用Flexbox布局 */
    align-items: center;
    /* 垂直居中对齐内容 */
    justify-content: center;
    /* 水平居中对齐内容 */
    padding: 100px 20px; /* 根据需要调整 */    
    /* 如果需要固定页脚，可以重新添加 position: fixed */
}


/* 响应式设计 */
@media (max-width: 768px) {
    footer {
        font-size: 18px;
        /* 在小屏设备上减小字体大小 */
        padding: 10px;
        /* 减少内边距 */
    }
}


.footer-content {
    display: flex;
    /* 使用 Flexbox 布局 */
    flex-direction: column;
    /* 垂直排列 */
    align-items: center;
    /* 水平居中 */
    text-align: center;
    /* 文字居中 */
    font-size: 32px;
}


.runtime,
.copyright,
.contact {
    margin: 5px 0;
    /* 上下间距 */
    text-align: center;
    /* 文字居中 */
}

.copyright {
    color: #ffcc00;
}

.copyright a {
    text-decoration: none;
    color: #ffffff;
}

.footer-link {
    color: var(--footer-link-color);
    text-decoration: none;
    font-weight: bold;
    position: relative;
    transition: color 0.3s ease;
}

.footer-link:hover {
    color: var(--footer-link-hover-color);
}

.footer-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background:
        var(--footer-link-color);
    transition: width 0.3s ease;
}

.footer-link:hover::after {
    width: 100%;
}

.copyright span {
    background: linear-gradient(135deg, #0eaf6d, #ff6ac6 25%, #147b96 50%, #e6d205 55%, #2cc4e0 60%, #8b2ce0 80%, #ff6384 95%, #08dfb4);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-background-size: 200% 100%;
    background-size: 200% 100%;
    -webkit-animation: flowCss 12s infinite linear;
    animation: flowCss 12s infinite linear;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 2px;
    animation-name: flowCss;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards
}

@keyframes flowCss {
    0% {
        background-position: 0% 50%
    }

    100% {
        background-position: 100% 50%
    }
}