/* 目录按钮样式 */
#tocButton {
    position: fixed;
    top: 100px;
    right: 25px;
    z-index: 1000;
    padding: 7px, 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 22px;
}

/* 目录容器样式 */
#toc {
    position: fixed;
    top: 150px;
    right: 25px;
    background: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;
    z-index: 1000;
    max-height: 80%;
    overflow-y: auto;
    width: 200px;
}

/* 目录标题样式 */
#toc-title {
    font-size: 18px;
    margin-bottom: 10px;
}

/* 目录列表样式 */
#tocList {
    list-style-type: none;
    padding: 0;   
}
h4{
    margin-bottom: 20px;
    font-size: 16px;
}
#tocList li {
    margin-bottom: 15px;
}

#tocList a {
    text-decoration: none;
    color: #007bff;
    font-size: 14px;
}

#tocList a:hover {
    text-decoration: underline;
}