.toast-bottom-center {
    position: absolute;
    left: 30px;
    right: 10px;
    top: 20px;
}

.gradient-text {
    background: linear-gradient(135deg, #0eaf6d, #ff6ac6 25%, #147b96 50%, #e6d205 55%, #2cc4e0 60%, #8b2ce0 80%, #ff6384 95%, #08dfb4);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    /* 文字颜色透明 */
    transition: background 0.5s ease;
    animation: flowCss 5s infinite alternate;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
}

@keyframes flowCss {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
a.custom-link {
    color: #ff6ac6;
    /* 文字颜色 */
    text-decoration: none;
    /* 去掉下划线 */
}


/* 设置 mark 标签样式 */
mark {
    background-color: #ffff00;
    /* 半透明的黄色背景 */
    /* 背景颜色 */
    color: #ff0033!important;
    /* 文字颜色 */
    padding: 2px 5px;
    /* 内边距 */
    border-radius: 3px;
    /* 圆角 */
}

.loading .error {
    color: #ff0033;
}



/* 运行时间美化 */
#momk {
    animation: change 10s infinite;
    font-weight: 800;
}

@keyframes change {
    0% {
        color: #5cb85c;
    }

    25% {
        color: #556bd8;
    }

    50% {
        color: #e40707;
    }

    75% {
        color: #66e616;
    }

    100% {
        color: #67bd31;
    }
}


/*时间显示*/

.time-content {
            width: 100%;
            height: 140px;
            padding: 10px;
            box-sizing: border-box;
            margin: 10% auto;
            border-radius: 4px;
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            letter-spacing: .1em;
        }
        .time-content .week {
            margin-left: 15px;
        }
        .lunar {
            font-size: 16px;
        }
        .hour-minut-second {
            font-size: 40px;
            font-family: Times New Roman;
        }
		
		/* 为不同的星期几设置不同的颜色 */
        .week-0 { color: #FFD700; } /* 星期日 - 金色 */
        .week-1 { color: #00FF00; } /* 星期一 - 绿色 */
        .week-2 { color: #00FFFF; } /* 星期二 - 青色 */
        .week-3 { color: #FF00FF; } /* 星期三 - 紫色 */
        .week-4 { color: #FFA500; } /* 星期四 - 橙色 */
        .week-5 { color: #0000FF; } /* 星期五 - 蓝色 */
        .week-6 { color: #FF0000; } /* 星期六 - 红色 */