     body {
         font-family: Arial, sans-serif;
         background-color: #f5f5f5;
         text-align: center;
         padding: 20px;
     }

     .container {
         max-width: 600px;
         margin: 0 auto;
         background-color: #fff;
         padding: 30px;
         box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
         border-radius: 15px;
     }

     h1 {
         background: linear-gradient(135deg,
                 #0eaf6d,
                 #ff6ac6 25%,
                 #147b96 50%,
                 #e6d205 55%,
                 #2cc4e0 60%,
                 #8b2ce0 80%,
                 #ff6384 95%,
                 #08dfb4);
         /* 文字颜色填充设置为透明 */
         -webkit-text-fill-color: transparent;
         /* 背景裁剪，即让文字使用背景色 */
         -webkit-background-clip: text;
         background-clip: text;
         /* 背景图放大一下，看着柔和一些 */
         -webkit-background-size: 200% 100%;
         background-size: 200% 100%;
         /* 应用动画flowCss 12秒速度 无限循环 线性匀速动画*/
         -webkit-animation: flowCss 12s infinite linear;
         animation: flowCss 12s infinite linear;
         font-size: 32px;
         /* 设置字体大小 */
         margin-bottom: 20px;
         /* 设置字体距离下面的距离 */
         font-weight: bold;
         /* 设置字体粗细 */
         letter-spacing: 2px;
         /* 设置字符间距 */
         animation-name: flowCss;
         /* 定义动画名称 */
         animation-duration: 5s;
         /* 定义动画持续时间 */
         animation-iteration-count: infinite;
         /* 定义动画重复次数 */
         animation-timing-function: linear;
         /* 定义动画速度曲线 */
         animation-fill-mode: forwards;
         /* 定义动画结束后状态 */
     }

     /* 定义动画 */
     @keyframes flowCss {
         0% {
             /* 设置背景图像的位置 */
             background-position: 0% 50%;
         }

         100% {
             /* 设置背景图片的位置 */
             background-position: 100% 50%;
         }
     }

     .reward-options {
         display: flex;
         justify-content: center;
         gap: 20px;
         margin-bottom: 30px;
     }

     .reward-image {
         width: 80px;
         height: 100px;
         cursor: pointer;
         opacity: 0.6;
         transition: opacity 0.3s;
         image-rendering: pixelated;
         /* 防止图片缩放时失真 */
     }

     .reward-image:hover {
         opacity: 1;
     }

     .reward-image.active {
         opacity: 1;
         border: 2px solid #007BFF;
         border-radius: 10px;
     }

     .reward-details {
         text-align: center;
     }

     .qr-code {
         width: 260px;
         height: 360px;
         margin-top: 10px;
         border: 4px solid #007BFF;
         padding: 10px;
         background-color: #fff;
         image-rendering: pixelated;
         /* 防止二维码缩放时失真 */
         border-radius: 50px;
     }