iframe{
    display: block;
}
/* bootstrap */
.content *{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.control-label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}
.radio label, .checkbox label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
}
input[type="radio"], input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
}
input[type="file"]{
    margin-top: 3px;
}
label.field{
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 5px;
    white-space: nowrap;
}
select{
    height: 30px;
    padding: 5px 10px;
    border: 1px solid #e4e4e4;
    outline: none;
    border-radius: 4px;
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    position: absolute;
    margin-left: -20px;
    margin-top: 4px \9;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
    overflow: hidden;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.pull-right {
    float: right !important;
}
.form-horizontal .radio, .form-horizontal .checkbox {
    min-height: 27px;
}
.form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 7px;
}
.form-group {
    margin-bottom: 15px;
}
.form-control {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control-none{
    border: none;
    box-shadow: none;
    background: none;
    height: auto;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn-danger{
    color:#fff;
    background-color:#d42020;
    border-color:#d42020;
}
.btn:hover, .btn:focus, .btn.focus {
    color: #333;
    text-decoration: none;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
.btn-success:hover, .btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
    color: #fff;
    background-color: #398439;
    border-color: #255625;
}
.btn-danger:hover,.btn-danger:focus,.btn-danger:active,.btn-danger.active,.open .dropdown-toggle.btn-danger{
    color:#fff;
    background-color:#b11b1b;
    border-color:#9f1818;
}
.btn-xs, .btn-group-xs>.btn {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
.table-inner{
    overflow-x: auto;
    margin-bottom: 20px;
}
.table-inner .table{
    margin-bottom: 0;
}
.table th strong{
    font-weight: bold;
}
.table caption{
    line-height: 40px;
    font-size: 16px;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th{
    background: #f5f5f5;
}
.table-bordered {
    border: 1px solid #ddd;
}
.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
    border: 1px solid #ddd;
}
.table-hover>tbody>tr:hover {
    background-color: #f5f5f5;
}
.panel{
    padding: 10px 15px 15px;
    margin-bottom: 18px;
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    color: #333;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.panel .item{
    float: left;
    width: 600px;
    padding-left: 15px;
    padding-right: 15px;
}
.panel .item td{
    padding: 3px 2px;
}
.panel .item input,.panel .item select{
    height: 24px;
}
.panel label{
    margin-left: 7px;
    font-weight: normal;
}
.panel label span,.panel label input{
    vertical-align: middle;
}
.panel hr{
    margin: 30px 0;
    border:none;
    height: 1px;
    background: #f1daae;
}

textarea.form-control {
    height: auto;
}


@media (min-width: 768px) {
	.form-inline .form-control {
	    display: inline-block;
	    width: auto;
	    vertical-align: middle;
	}
    .form-horizontal .control-label {
        text-align: right;
        margin-bottom: 0;
        padding-top: 7px;
    }
}
@media (min-width: 992px) {
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
	    float: left;
	}
    .col-md-12{
        width: 100%;
    }
    .col-md-10{
        width: 83.33333333%;
    }
    .col-md-9{
        width: 75%;
    }
    .col-md-8{
        width: 66.66666667%;
    }
    .col-md-7{
        width: 58.33333333%;
    }
	.col-md-6{
	    width: 50%;
	}
    .col-md-5{
        width: 41.66666667%;
    }
    .col-md-4{
        width: 33.33333333%;
    }
    .col-md-2{
        width: 16.66666667%;
    }
    .col-md-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-md-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-md-offset-2{
        margin-left: 16.66666667%;
    }
}
/* fixed */
.row:before, .row:after {
    content:"";
    display:table;
}
.row:after{
    clear:both;
    overflow:hidden;
}
.row{
    zoom:1;
}
.clearfix:before, .clearfix:after {
    content:"";
    display:table;
}
.clearfix:after{
    clear:both;
    overflow:hidden;
}
.clearfix{
    zoom:1;
}
.form-control{
    overflow: auto;
}
@media \0screen{
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }
    .col-md-12{
        width: 100%;
    }
    .col-md-10{
        width: 83.33333333%;
    }
    .col-md-8{
        width: 66.66666667%;
    }
    .col-md-6{
        width: 50%;
    }
    .col-md-4{
        width: 33.33333333%;
    }
    .col-md-2{
        width: 16.66666667%;
    }
    .col-md-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-md-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-md-offset-2{
        margin-left: 16.66666667%;
    }
    .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
    .form-horizontal .control-label {
        text-align: right;
        margin-bottom: 0;
        padding-top: 7px;
    }
}
@media screen\9{
    .checkbox label{
        position: relative;
        *zoom:1;
    }
    .checkbox label input{
        position: relative;
        top: -6px;
    }
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
        padding: 0;
    }
    .col-md-12 {
        width: 96%;
    }
    .col-md-10{
        width: 80%;
    }
    .col-md-8 {
        width: 64%;
    }
    .col-md-6 {
        width: 48%;
    }
    .col-md-4 {
        width: 32%;
    }
    .col-md-2{
        width: 16%;
    }
    .col-md-offset-4{
        margin-left: 33.8%;
    }
    .col-md-offset-2{
        margin-left: 17.8%;
    }

    .form-control{
        width: 90%;
        height: 22px;
        position: relative;
    }   
    .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
    .form-horizontal .control-label {
        text-align: right;
        margin-bottom: 0;
        padding-top: 7px;
    }
}

.mod-panel .hd{
    padding: 5px 0;
    margin-bottom: 20px;
}
.mod-panel h3,.mod-panel h1{
    padding: 5px 0;
    line-height: 1.1;
    font-size: 20px;
    color: #333;
}
.mod-panel .hd p{
    color: #888;
}
.mod-panel h4{
    margin: 10px 0;
    line-height: 1.1;
    font-size: 18px;
}
.mod-panel .margin-wrap{
    padding: 10px 0;
    line-height: 32px;
}
.mod-panel .bd > p{
    padding: 0 15px;
    margin-bottom: 10px;
    line-height: 40px;
}
.mod-panel .bg-success {
    padding:5px 12px;
    background-color: #dff0d8;
}
.mod-panel .bg-fail {
     padding:5px 12px;
    background-color: #f2dede;
}
.mod-panel .tips {
    position: relative;
    padding: 20px 15px;
    margin: 15px 0;
    border-left: 8px solid #eee;
    word-break: break-all;
}
.mod-panel .tips ul{
    list-style: disc inside;
}
.mod-panel .tips li {
    line-height: 25px;
    font-size: 14px;
}
.mod-panel code{
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}
.mod-panel .text-center{
    text-align: center;
}

.mod-dialog .widget-container{
    width: 96%;
    max-width: 900px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    outline: 0;
}
.mod-dialog .widget-head{
    position: relative;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    line-height: 24px;
    font-size: 18px;
}
.mod-dialog .widget-head a{
    position: absolute;
    right: 20px;
    top: 15px;
    display: block;
    width: 24px;
    height: 24px;
    text-align: center;
    font-size: 22px;
    color: #666;
    text-decoration: none;
}
.mod-dialog .widget-body{
    padding: 15px;
}
.mod-dialog .widget-foot{
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
.mod-dialog button{
    width: 60px;
    background-color: #fff;
    border: 1px solid transparent;
    border-color: #ccc;
    line-height: 28px;
    font-size: 14px;
    color: #333;
    border-radius: 4px;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.mod-dialog button:hover{
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.banner-outer{
    margin-bottom: 10px;
}
.banner-outer img{
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 1023px){
    .table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
        width: auto;
    }
    .panel .item{
        width: auto;
    }
    .panel .item input, .panel .item select{
        min-width: 56px;
    }

    .mod-panel .hd{
        padding: 0;
        margin-bottom: 10px;
    }
    .mod-panel h3, .mod-panel h1{
        font-size: 18px;
    }
}