html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%}legend{color:#000}
html{
	height:100%;
}
body{
	height: 100%;
	font-size: 14px;
	font-family: Arial,Helvetica,"Microsoft Yahei";
	color:#555;
}
button, input {
    font-family: Arial,Helvetica,"Microsoft Yahei";
}
img{
	vertical-align: middle;
}
a{
	text-decoration: none;
	color: #555;
}
a:hover{
	text-decoration: underline;
}

.wrapper{
	position: relative;
	height: 100%;
	padding-top: 80px;
	-moz-box-sizing: content-box;  
    -webkit-box-sizing: content-box; 
    -o-box-sizing: content-box; 
    -ms-box-sizing: content-box;
	box-sizing: border-box;
	*height: auto;
}
.header{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 75px;
	background: #fff;
	border-top:4px solid #2095f2;
	border-bottom:1px solid #d4d4d4;
	box-shadow: 0 0 4px rgba(0,0,0,.2);
	z-index: 99;
	_position:absolute;
}
.container{
	position: relative;
	width: 100%;
	min-width: 1024px;
	min-height: 100%;
	background: #fdfdfd;
	overflow-y: hidden;
	*zoom:1;
}
.container .side{
	float: left;
	width:249px;
	border-right: 1px solid #ccc;
	background: #fff;
	padding-bottom: 99999px;
	margin-bottom: -99999px;
	overflow: hidden;
	_display: inline;
    _position: absolute;
    _top: 0;
    _left: 0;
}
.container .content{
	position: relative;
	*zoom:1;
	margin-left:250px;
	padding: 30px 30px 150px;
	_height:780px;
}
.container .footer{
	position: absolute;
	width: 100%;
	left:0;
	bottom: 0;
	*zoom:1;
}

.clearfix:before, .clearfix:after {
	content:"";
	display:table;
}
.clearfix:after{
	clear:both;
	overflow:hidden;
}
.clearfix{
	zoom:1;
}

.mod-head{
	height: 75px;
	padding:0 25px;
}
.mod-head .link{
	float: right;
	line-height: 75px;
	overflow: hidden;
}
.mod-head .link li{
	float: left;
	margin:0 18px;
	_display:inline;
}
.mod-head .link li span{
	padding-left: 24px;
}
.mod-head .nav{
    float: left;
    height: 75px;
    padding-left: 50px;
}
.mod-head .nav li{
    float: left;
    position: relative;
}
.mod-head .nav li > a{
	line-height: 75px;
}
.mod-head .nav a{
    display: block;
    padding: 0 20px;
    text-decoration: none;
}
.mod-head .nav .text-red{
	color: #fc0000;
}
.mod-head .nav .type{
    line-height: 75px;
}
.mod-head .nav .type:after{
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 8px;
    vertical-align: middle;
    border-top: 4px dashed #333;
    border-right: 4px dashed transparent;
    border-left: 4px dashed transparent;
}
.mod-head .nav .sub{
    display: none;
    position: absolute;
    width: 210px;
    padding: 10px 0;
    background: #fff;
    border: 1px solid #d4d4d4;
}
.mod-head .nav li:hover .sub{
    display: block;
}
.mod-head .nav .sub a{
    line-height: 32px;
}
.mod-head .nav .sub a:hover{
    background: #d4d4d4;
}
.mod-head .icon-date{
	background: url('../../image/public/icon.png') -5px 1px no-repeat;
	_background-image:url('../../image/public/icon.gif');
}
.mod-head .icon-weather{
	background: url('../../image/public/icon.png') -5px -22px no-repeat;
	_background-image:url('../../image/public/icon.gif');
}
.mod-head .icon-location{
	background: url('../../image/public/icon.png') -5px -46px no-repeat;
	_background-image:url('../../image/public/icon.gif');
}
.mod-head .logo{
	float: left;
	padding: 12px 0;
	_background:url('../../image/public/logo.gif') 0 center no-repeat;
}
.mod-head .logo img{
	_visibility: hidden;
}

.mod-foot{
	margin-left:250px;
	padding: 25px 30px;
	border-top: 1px solid #ccc;
	background: #ebebeb;
	overflow:hidden;
}
.mod-foot span,.mod-foot a{
	vertical-align: middle;
	margin:0 6px;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.mod-foot .logo{
	float: left;
	position: relative;
	height: 50px;
}
.mod-foot .logo:after{
	display: block;
	content: '';
	position: absolute;
	height: 24px;
	right: -10px;
	top: 13px;
	border-left: 1px solid #333;
}
.mod-foot .info{
	margin-left: 180px;
}
.mod-foot .info p{
	position: relative;
	overflow:hidden;
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	color: #333;
	*zoom:1;
}
.mod-foot .contact a{
	margin:0 4px;
	color: #2095f2;
}

.mod-link ul{
	overflow:hidden;
	width: 220px;
	padding: 38px 0 20px;
	margin:0 auto;
}
.mod-link li{
	float: left;
	width: 100%;
	margin-bottom: 15px;
}
.mod-link li.small{
	width: 50%;
}
.mod-link li a{
	display: block;
	height: 32px;
	margin: 0 5px;
	border:1px solid #ccc;
	line-height: 32px;
	text-align: center;
}
.mod-link li a:hover {
    text-decoration: none;
}
.mod-link li.active a,.mod-link li a:hover{
	background: #2095f2;
	border-color: #2095f2;
	color:#fff;
}

.mod-share{
	float:right;
	width:138px;
	margin-right: 70px;
	_display:inline;
}

.mod-breadcrumb{
	margin-top: -5px;
	margin-bottom: 20px;
	height: 24px;
	line-height: 24px;
	color:#666;
}
.mod-breadcrumb a{
	color:#666;
}

.mod-friendlink{
	margin-bottom: 30px;
}
.mod-friendlink li{
	float: left;
	width: 5.88%;
	min-width: 90px;
	box-sizing: border-box;
	_width:90px;
}
.mod-friendlink li a,.mod-friendlink li span{
	display: block;
	line-height: 38px;
	border: 1px solid #ccc;
	margin: -1px 0 0 -1px;
	text-align: center;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    *position: relative;
	*zoom:1;
}
.mod-friendlink li span{
	background: #ebebeb;
}

.mod-goback {
    display: none;
}
.mod-goback a {
    display: block;
    position: fixed;
    right: 20px;
    bottom: 40px;
    width: 60px;
    height: 60px;
    background: url('/static/image/public/goback.png') 0 -60px no-repeat;
    text-indent: -333em;
    z-index: 99;
    _position: absolute;
}
.mod-goback a:hover {
    background-position: 0 0;
}

.mod-baidu{
	margin-left:250px;
	padding: 15px 30px;
}

/* 移动版响应 */
.only-mobile{
	display: none;
}
@media screen and (max-width: 1600px) {
	.mod-friendlink li{
		width: 10%;
		font-size: 12px;
	}
}
@media screen and (max-width: 1366px) {
	.mod-friendlink li{
		width: 12.5%;
		font-size: 12px;
	}
	
	.mod-head{
		padding: 0 20px;
	}
	.mod-head .nav{
		padding-left: 25px;
	}
	.mod-head .nav .type:after{
		margin-left: 6px;
	}
	.mod-head .nav a{
		padding: 0 10px;
	}

	.mod-head .link li{
		margin: 0;
	}
}
@media screen and (max-width: 1240px) {
	.mod-friendlink li{
		width: 20%;
		font-size: 12px;
	}
}
@media screen and (max-width: 1180px) {

}
@media screen and (max-width: 1023px) {
	.only-pc{
		display: none;
	}
	.only-mobile{
		display: block;
	}
	.wrapper{
		padding-top: 56px;
	}
	.header{
		height: 56px;
		border-top: none;
	}
	.container{
		min-width: inherit;
		background: #fff;
	}
	.container .content{
		margin-left: 0;
		padding:14px 16px 100px;
	}
	.container .side{
		position: fixed;
		top:0;
		left: -240px;
		z-index: 98;
		width: 240px;
		height: 100%;
		border-right: none;
		webkit-transition: all 0.25s ease;
	    -moz-transition: all 0.25s ease;
	    transition: all 0.25s ease;
	    -webkit-transform: translateZ(0);
	}
	.status-show .container .side{
		left: 0;
	}
	.status-show .mod-mask{
		position: fixed;
		top: 0;
		left: 0;
		z-index: 97;
		display: block;
		content:'';
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,.5);
		-webkit-transform: translateZ(0);
	}

	.mod-head{
		height: 56px;
	}
	.mod-head .logo{
		float: none;
		display: block;
		padding:8px 0;
		text-align: center;
	}
	.mod-head .logo img{
		width: auto;
		height: 40px;
	}
    .mod-head .nav{
		display: none;
	}
	.mod-head .menu{
		position: absolute;
		left: 0;
		top: 0;
		display: block;
		width: 16px;
		height: 16px;
		padding: 20px 16px;
	}
	.mod-head .menu span{
		display: block;
		height: 3px;
		background: #2095f2;
		-webkit-transition: all;
	    -moz-transition: all;
	    -o-transition: all;
	    transition: all;
	    -webkit-transition-duration: 300ms;
	    transition-duration: 300ms;
	}
	.mod-head .menu span:nth-child(2){
		margin:4px 0;
	}
	.status-show .mod-head .menu span:first-child{
		transform: translateX(-4px) translateY(12px) rotate(45deg);
    	-webkit-transform: translateX(-4px) translateY(12px) rotate(45deg);
	}
	.status-show .mod-head .menu span:last-child{
		transform: translateX(-4px) translateY(-12px) rotate(-45deg);
    	-webkit-transform: translateX(-4px) translateY(-12px) rotate(-45deg);
	}

	.mod-foot{
		margin-left: 0;
		padding:12px 16px;
	}
	.mod-foot .info{
		margin-left: 0;
		text-align: center;
	}
	.mod-foot .info p{
		height: auto;
		line-height: 22px;
		font-size: 12px;
	}

	.mod-link{
		height: 100%;
		padding: 56px 0 0;
		box-sizing: border-box;
	}
	.mod-link .bd{
		height: 100%;
		overflow: auto;
	}
	.mod-link ul{
		padding:15px 0 0;
	}
	.container .side-toggle .mod-link{
		left: 0;
	}

	.mod-share{
		float: none;
		width: auto;
		height: 24px;
		line-height: 24px;
		margin-bottom: 10px;
	}
	.mod-share .bds_more{
		display: none;
	}
	.mod-share .bdshare-button-style1-16 a{
		background-image: url('../../image/public/icons_32.png');
		background-size: 16px auto;
	}
	.mod-share .bdshare-button-style1-16 .bds_qzone{
		background-position: 0 -26px;
	}
	.mod-share .bdshare-button-style1-16 .bds_tsina{
		background-position: 0 -52px;
	}
	.mod-share .bdshare-button-style1-16 .bds_tqq{
		background-position: 0 -130px;
	}
	.mod-share .bdshare-button-style1-16 .bds_renren{
		background-position: 0 -104px;
	}
	.mod-share .bdshare-button-style1-16 .bds_douban{
		background-position: 0 -234px;
	}
	.mod-breadcrumb{
		margin-bottom: 10px;
	}
	.mod-friendlink .hd{
		line-height: 24px;
		margin-bottom: 9px;
	}
	.mod-friendlink li{
		width: 25%;
		min-width: initial;
		font-size: 12px;
	}

	.mod-goback a{
		right: 16px;
    	bottom: 20px;
		width: 40px;
		height: 40px;
		background: url('../../image/public/m-goback.png') 0 0 no-repeat;
		background-size: 40px 40px;
	}
}

@media screen and (max-width: 320px){
	.container .content{
		padding: 14px 8px 100px;
	}
}