/* 变量定义 */
:root {
    --card-filter: 10px;
    /* 调整模糊程度 */
    --item-bg-color: rgba(255, 255, 255, 0.1);
    /* 半透明背景 */
    --footer-text-color: #ffffff;
    /* 文字金黄 */
    --footer-link-color: #ff0000;
    /* 红色链接 */
    --footer-link-hover-color: #ffffff;
    /* 链接悬停颜色 */
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    text-align: center;
    width: 100%;
    background-color: #000000;
    /* 黑色背景 */
    color: var(--footer-text-color);
    /* 白色文字 */
    border-top: 1px solid #00ff00;
    /* 顶部边框 */
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    /* 添加阴影效果 */
    color: var(--footer-text-color);
    font-size: 16px;
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

.footer-content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.runtime,
.contact {
    margin: 5px 0;
}

.copyright {
    color: #ffcc00;
    margin: 5px 0;
}
.copyright a {
    text-decoration: none;
}

.footer-link {
    color: var(--footer-link-color);
    text-decoration: none;
    font-weight: bold;
    position: relative;
    transition: color 0.3s ease;
}

.footer-link:hover {
    color: var(--footer-link-hover-color);
}

.footer-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background:
        var(--footer-link-color);
    transition: width 0.3s ease;
}

.footer-link:hover::after {
    width: 100%;
}

.copyright span {
    background: linear-gradient(135deg, #0eaf6d, #ff6ac6 25%, #147b96 50%, #e6d205 55%, #2cc4e0 60%, #8b2ce0 80%, #ff6384 95%, #08dfb4);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-background-size: 200% 100%;
    background-size: 200% 100%;
    -webkit-animation: flowCss 12s infinite linear;
    animation: flowCss 12s infinite linear;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    animation-name: flowCss;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards
}

@keyframes flowCss {
    0% {
        background-position: 0% 50%
    }

    100% {
        background-position: 100% 50%
    }
}