html {
    color: #000;
    background: #fff
}

blockquote,
code,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset,
img {
    border: 0
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: 400
}

ol,
ul {
    list-style: none
}

caption,
th {
    text-align: left
}

h1,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: 400
}

q:after,
q:before {
    content: ''
}

abbr,
acronym {
    border: 0;
    font-variant: normal
}

sup {
    vertical-align: text-top
}

sub {
    vertical-align: text-bottom
}

input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit
}

legend {
    color: #000
}

body,
html {
    height: 100%
}

body {
    background: #f4f4f4
}

.wrapper {
    padding-top: 25px
}

.mod-panel {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #dbdbdb;
    padding: 20px;
    line-height: 30px;
    font-size: 14px;
    color: #666
}

.mod-panel .hd {
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 7px;
    padding: 0 10px;
    line-height: 36px;
    font-size: 18px
}

.mod-panel .bd {
    padding: 10px;
    text-align: center;
}

.mod-panel a,
.mod-panel img,
.mod-panel span {
    vertical-align: middle
}

.mod-panel a {
    margin-right: 5px
}

@media screen and (max-width:800px) {
    body {
        background: 0 0
    }

    .wrapper {
        padding-top: 15px
    }

    .mod-panel {
        border: none;
        padding: 12px;
        font-size: 13px
    }

    .mod-panel .bd,
    .mod-panel .hd {
        padding: 0
    }

    .mod-panel .hd {
        font-size: 16px;
    }
}

.mod-panel ul {
    display: inline-block;
    text-align: left;
}

.mod-panel .wechat {
    width: 180px;
    height: 180px;
    padding: 20px;
    margin: 30px auto 10px;
    background: #f0f0f0;
    line-height: 30px;
    text-align: center;
}

YourName {
    background: linear-gradient(135deg,
            #0eaf6d,
            #ff6ac6 25%,
            #147b96 50%,
            #e6d205 55%,
            #2cc4e0 60%,
            #8b2ce0 80%,
            #ff6384 95%,
            #08dfb4);
    /* 文字颜色填充设置为透明 */
    -webkit-text-fill-color: transparent;
    /* 背景裁剪，即让文字使用背景色 */
    -webkit-background-clip: text;
    background-clip: text;
    /* 背景图放大一下，看着柔和一些 */
    -webkit-background-size: 200% 100%;
    background-size: 200% 100%;
    /* 应用动画flowCss 12秒速度 无限循环 线性匀速动画*/
    -webkit-animation: flowCss 12s infinite linear;
    animation: flowCss 12s infinite linear;
    font-size: 14px;
    /* 设置字体大小 */
    font-weight: bold;
    /* 设置字体粗细 */
    letter-spacing: 2px;
    /* 设置字符间距 */
    animation-name: flowCss;
    /* 定义动画名称 */
    animation-duration: 5s;
    /* 定义动画持续时间 */
    animation-iteration-count: infinite;
    /* 定义动画重复次数 */
    animation-timing-function: linear;
    /* 定义动画速度曲线 */
    animation-fill-mode: forwards;
    /* 定义动画结束后状态 */
}

/* 定义动画 */
@keyframes flowCss {
    0% {
        /* 设置背景图像的位置 */
        background-position: 0% 50%;
    }

    100% {
        /* 设置背景图片的位置 */
        background-position: 100% 50%;
    }
}