  .container {
    display: flex; /* 使用Flex布局 */
    flex-direction: column; /* 内容竖直排列 */
    min-height: 100vh; /* 至少占据整个视口高度 */
	min-width:100%;
  }
  .content {
    flex-grow: 1; /* 内容区域自适应填充剩余空间 */
  }
  .footer-备案 {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
  }