.butterBar{
	margin-left:36%;
	max-width:640px;
	position:fixed;
	text-align:center;
	top:25%;
	width:58%;
	z-index:800
}
.butterBar--center{
	left:50%;
	margin-left:-320px
}
@media screen and (max-width:760px) {
    .butterBar--center{
        left:15%;
        margin-left: -100px
    }
}
@media screen and (max-width:760px) {
    .butterBar{
        margin-left:16%;
        max-width:640px;
        position:fixed;
        text-align:center;
        top:10%;
        width:58%;
        z-index:800
    }
}
.butterBar-message{
	background:rgba(255,215,0,0.97);
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	box-shadow:0 1px 1px rgba(0,0,0,0.25),0 0 1px rgba(0,0,0,0.35);
	display:inline-block;
	font-size:14px;
	margin-bottom:0;
    color:#ff0000;
	padding:12px 25px
}
