.txtarea {
    resize: none;
    height: 366px;
    width: 100%;
    font-size: 14px;
    color: #333;
    line-height: 160%
}

.form-group {
    float: right;
    margin-top: 5px;
    margin-left: 21px;
    margin-bottom: 10px
}

.fileinput-button {
    float: left;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin-top: 0px;
    margin-bottom: 10px
}

.fileinput-button input {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 20px
}
.btn.btn-success.fileinput-button {
    background-color: #5cb85c;
    /* 原btn-success默认绿色 */
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid #4cae4c;
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
}

.btn.btn-success.fileinput-button:hover {
    background-color: #449d44;
    border-color: #398439;
}

.kratos-post-inner {
    padding-top: 2px;
}

@media screen and (max-width: 768px) {
    .kratos-post-inner {
        padding-top: 2px;
    }
}



a {
    text-decoration: none;
}

.tvinput {
    font-size: 14px;
    padding: 8px 10px;
    margin: 5px 4px 5px 0px
}

.tvinput#TXTAJAX {
    background-color: #9b51e0;
    color: white;
}

.tvinput#M3UPPAJAX {
    background-color: #ff0000;
    color: white;
}

.tvinput#M3Utest {
    background-color: #3377FF;
    color: white;
}

.tvinput#m3uclear {
    background-color: #FF9800;
    color: white;
}



.tvinput[onClick="copy();"] {
    background-color: #039BE5;
    color: white;
}

.tvinput[onClick="downloadmitv();"] {
    background-color: #00C853;
    color: white;
}