.toast-bottom-center {
    position: absolute;
    left: 30px;
    right: 10px;
    top: 20px;
}

h4.gradient-text , a.custom-link {
    background: linear-gradient(135deg, #0eaf6d, #ff6ac6 25%, #147b96 50%, #e6d205 55%, #2cc4e0 60%, #8b2ce0 80%, #ff6384 95%, #08dfb4);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-background-size: 200% 100%;
    background-size: 200% 100%;
    -webkit-animation: flowCss 5s infinite linear;
    animation: flowCss 5s infinite linear;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none;
    /* 去除下划线 */
}

/* 设置 mark 标签样式 */
.custom-link , mark {
    background-color: #ffff00;
    /* 背景颜色 */
    color: #ff0033;
    /* 文字颜色 */
    padding: 2px 5px;
    /* 内边距 */
    border-radius: 3px;
    /* 圆角 */
}

.loading .error {
    color: #ff0033;
}

/* 定义动画 */
@keyframes flowCss {
    0% {
        /* 设置背景图像的位置 */
        background-position: 0% 50%;
    }

    50% {
        /* 设置背景图片的位置 */
        background-position: 100% 50%;
    }

    100% {
        /* 设置背景图片的位置 */
        background-position: 0% 100%;
    }
}


/* 运行时间美化 */
#momk {
    animation: change 10s infinite;
    font-weight: 800;
}

@keyframes change {
    0% {
        color: #5cb85c;
    }

    25% {
        color: #556bd8;
    }

    50% {
        color: #e40707;
    }

    75% {
        color: #66e616;
    }

    100% {
        color: #67bd31;
    }
}