.toast-bottom-center {
    position: absolute;
    left: 30px;
    right: 10px;
    top: 20px;
}

h4.gradient-text {
    background: linear-gradient(135deg, #0eaf6d, #ff6ac6 25%, #147b96 50%, #e6d205 55%, #2cc4e0 60%, #8b2ce0 80%, #ff6384 95%, #08dfb4);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    /* 文字颜色透明 */
    text-decoration: none;
    /* 去掉下划线 */
    transition: background 0.5s ease;
    animation: change 5s infinite alternate;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
}

@keyframes change {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

a.custom-link {
    background: linear-gradient(135deg, #0eaf6d, #ff6ac6 25%, #147b96 50%, #e6d205 55%, #2cc4e0 60%, #8b2ce0 80%, #ff6384 95%, #08dfb4);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    /* 文字颜色透明 */
    text-decoration: none;
    /* 去掉下划线 */
    transition: background 0.5s ease;
    animation: change 5s infinite alternate;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
}


/* 设置 mark 标签样式 */
.custom-link mark {
    background-color: #ffff00;
    /* 半透明的黄色背景 */
    /* 背景颜色 */
    color: #ff0033 !important;
    /* 文字颜色 */
    padding: 2px 5px;
    /* 内边距 */
    border-radius: 3px;
    /* 圆角 */
}

.loading .error {
    color: #ff0033;
}



/* 运行时间美化 */
#momk {
    animation: change 10s infinite;
    font-weight: 800;
}