name: Update xiaoyu jar

on:
  #push:
  #  paths:
  #    - 'docs/tv/jar/**'  # 上传到/docs/tv/jar/才能触发
  workflow_dispatch:    # 手动触发

jobs:
  update-spider:
    runs-on: ubuntu-latest

    steps:
      # 第 1 步：检查仓库
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          ref: main # 强制指定拉取 main 分支的代码执行清理逻辑

      # 第 2 步：设置 Python
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      # 第 3 步：安装必要的依赖项
      - name: Install Dependencies
        run: python -m pip install requests

      # 确保 jar 目录存在
      - name: Ensure jar directory exists
        run: mkdir -p ${{ github.workspace }}/jar

      # 第 4 步：更新 xiaoyu spider 字段
      - name: Update Xiaoyu Spider Field
        run: |
          # 从 GitLink 获取现有数据
          response=$(curl -s "https://2015888.xyz/tv/jar/xiaoyu.txt")
          file="${{ github.workspace }}/jar/xiaoyu.txt"
          echo "$response" > "$file"
          
          # 上传到 KStore
          id=396663
          curl -X POST "https://upload.kstore.space/upload/$id?access_token=${{ secrets.KSTORE_TOKEN }}" -F "file=@$file"