name: Update xiaoyu and fan jar

on:
       push:
         branches:
           - main
       pull_request:
         branches:
           - main
       issues:
         types: [opened, closed]  # 直接监听GitLink发送的具体事件类型
       workflow_dispatch:  # 手动触发器

jobs:
  update-spider:
    runs-on: ubuntu-latest

    steps:
        
      # 第 1 步：检查仓库
      - name: Checkout repository
        uses: actions/checkout@v2

      # 第 2 步：设置 Python
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      # 第 3 步：安装必要的依赖项
      - name: Install Dependencies
        run: python -m pip install requests

      # 确保 jar 目录存在
      - name: Ensure jar directory exists
        run: mkdir -p ${{ github.workspace }}/jar

        
      # 第 4 步：更新 fan spider 字段
      - name: Update Fan Spider Field
        run: |
          # 从 GitLink 获取现有数据
          response=$(curl -s "https://cdn09022024.gitlink.org.cn/api/v1/repos/yf1688/box/raw/master/jar/fan.txt")
          file="${{ github.workspace }}/jar/fan.txt"
          echo "$response" > "$file"
          
          # 上传到 KStore
          id=396663
          curl -X POST "https://upload.kstore.space/upload/$id?access_token=${{ secrets.KSTORE_TOKEN }}" -F "file=@$file"
          
      # 第 5 步：更新 xiaoyu spider 字段
      - name: Update Xiaoyu Spider Field
        run: |
          # 从 GitLink 获取现有数据
          response=$(curl -s "https://cdn09022024.gitlink.org.cn/api/v1/repos/yf1688/box/raw/master/jar/xiaoyu.txt")
          file="${{ github.workspace }}/jar/xiaoyu.txt"
          echo "$response" > "$file"
          
          # 上传到 KStore
          id=396663
          curl -X POST "https://upload.kstore.space/upload/$id?access_token=${{ secrets.KSTORE_TOKEN }}" -F "file=@$file"

